.form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  label {
    margin-bottom: 1em;
  }

  select {
    margin-bottom: 2em;
  }
}


.mainContainer {
  background-color: #fff;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0 ;
}
